*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}
body{
    background-image: linear-gradient(to bottom right, #e765e2, #3f8ab2);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 350px;
    background-color: #000;
    margin-top: 100px;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
}
.calculator__display{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin: 30px auto ;
    color: #ffffff;
    width: 85%;
    height: 140px;
    border-radius: 0.5rem;
    background: #130113;
    overflow: hidden;
}
.display__input{
    font-size: 2.5rem;
    text-align: right;
    padding: 0 20px;
    margin-bottom: 10px;
}
.display__result{
    font-size: 1.2rem;
    text-align: right;
    padding: 0 20px;
    margin-bottom: -10px;
}
.btn_row{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.btn_row button{
    width: 50px;
    height: 50px;
    border-radius: 1rem;
    font-size: 20px;
    cursor: pointer;
    box-shadow: -1px -2px 15px #39023a, 1px 3px 5px #023b4e;
    transition: 0.5s ease-in-out;
}
.btn_row button:hover{
    transform: scale(1.1);
    box-shadow: none;
}
.btn_clear, .btn_delete{
    background: #1c161b86;
    color: #e765e2;
}
.btn_number{
    background: #1c161b86;
    color: #fff;
}
.btn_percent, .btn_divide, .btn_multiply, .btn_minus, .btn_plus, .btn_equal{
    background: #4390e8c5;
    color: #ffffff;
}
.btn_equal{
    padding: 0 70px;
    text-align: center;
}